.faq {
  background-color: #ffffff; 
  color: #000000;
  font-family: sans-serif;
  text-align: left;
  justify-content: center;
}
.video {
  background-color: #ffffff; 
  color: #000000;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
}

.faqTitle {
  margin-top: 2rem;
}

.energyTab {
  margin-bottom: 2rem;
}

.renergy {
  background-color: #ddffcc; 
  color: #000000;
  padding: 50px;
  font-family: sans-serif;
  text-align: left;
}
.nenergy {
  background-color: #e0e0eb; 
  color: #000000;
  padding: 50px;
  font-family: sans-serif;
  text-align: left;  
}

.sources {
  background-color: #ffffff; 
  color: #000000;
  padding: 50px;
  font-family: sans-serif;
  text-align: left; 
}

.biomass-img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wind-img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.solar-img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hydro-img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.coal-img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nuclear-img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.natural-img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.petroleum-img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

