.StateDoughnutChart {
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.StateBarChart {
    width: 75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}