/* .MainDiv {
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.buttonA {
    font-size: 1rem;
    background-color: #137547 ;
    margin: .15rem;
} */

/* .ButtonDropdown {
    font-size: 2rem;
    background-color: #137547 ;
    color: #137547;
    margin: .3rem;
}
.Headtext2States {
    text-align: center;
    margin: 1rem;
} */
/* 
.statePicks {
    padding: .5rem;
} */

.buttonClear {
    margin-top: 1rem;
}

.DropdownMenu {
    height: 300px;
    overflow-y: scroll;
}