/* .HeaderDiv {
    background-color: #FFFFFF;
      color: #006837;
  } */

p.HeaderParagraph {
  font-size: 1.2rem;
  color: #006837;
  margin-bottom: 20px;
}

.gridTitle {
  background-color: #FFFFFF;
  color: #006837;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

